version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend-service
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend-service
    ports:
      - "3001:3001"
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge
